.store {
	width: 100%;
	//min-height: 100vh;
	display: flex;
	justify-content: space-between;
	.department {
		width: 80%;
		padding: 5rem;

		.headline {
			font-size: 8rem;
			font-style: italic;
			letter-spacing: 0.5rem;
		}
		.dep-nav {
			margin: 4rem 0;
			font-size: 2.5rem;
			font-weight: 600;
			letter-spacing: -1px;
			line-height: 4rem;
			list-style: none;
			display: flex;
			width: 70%;
			justify-content: space-between;
			align-items: center;

			.dep-nav-btn {
				padding: 1.5rem 4rem;
				border: solid #c7c7c7 0.8px;
				min-width: 15rem;
				text-align: center;
				border-radius: 2rem;
				transition: all 0.3s ease-in-out;
				display: flex;
				align-items: center;
				cursor: pointer;
				svg {
					margin-right: 1rem;
				}
				&:hover {
					background-color: $black;
					color: $smokey;
				}
			}
		}

		.sort {
			font-size: 3rem;
			width: 50%;
			display: flex;
			display: none;
			justify-content: space-around;
			color: $smokey;
			background-color: $black;
			padding: 1.2rem;
			border-radius: 1.5rem;
			margin-bottom: 3rem;
			.radio {
				margin-right: 2rem;
				width: 3rem;
				height: 3rem;
				transform: translateY(15%);
			}
			.radio:checked {
				color: $black;
				background-color: green;
			}
		}

		.ItemList {
			// background-color: $ash;
			width: 100%;
			min-height: 200rem;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: 55rem 55rem 55rem 55rem;
			//grid-template-areas: repeat(auto-fit, minmax(200px, 1fr));
			grid-row-gap: 1.4rem;
			grid-column-gap: 1.4rem;
			.item {
				background-color: #c3c3c3;
				border-radius: 5rem;
				position: relative;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				overflow: hidden;

				.overlay {
					width: 100%;
					height: 100%;
					background: #ecf0f3bb;
					position: absolute;
					top: 0;
					transition: all 0.4s ease-in-out;
					opacity: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					font-weight: 600;
					align-items: center;
					font-size: 2.5rem;
					text-align: center;
					.price {
						margin-top: 2rem;
						font-size: 4rem;
					}
					.black-btn {
						margin: 1rem;
						width: 15rem;
						font-size: 1.8rem;
					}
				}

				.wishlist {
					position: absolute;
					top: 2.5rem;
					right: 3.5rem;
					border-radius: 10rem;
					background-color: $smokey;
					padding: 1.5rem;

					svg {
						height: 3rem;
						width: 3rem;
						right: 5rem;
						color: $ash;
					}
				}
				&:hover {
					.overlay {
						opacity: 1;
					}
				}
			}
		}
	}
}
